
<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>¿Ha olvidado su contraseña?</h1>
      <p>Ingrese su correo:</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon size="large" name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button  (click)="resetPassword(); showAlert()"size="large" class="send-button">Recuperar</ion-button>
      <ion-button size="tiny" fill="clear" class="login-button" (click)="resetPassword()">¿No recibiste el mensaje?</ion-button>
      <br>
      <ion-button class="back-button" size="large" fill="outline" routerLink="/login">Volver</ion-button>
    </div>
  </div>
</ion-content>
